*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow: hidden;
    white-space: nowrap;
}

body{
    height: 100svh;
    width: 100svw;

    #firstSlide{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;

        h1{
            font-size: 9svw;
            text-wrap: nowrap;
            position: relative;
            width: 0svw;
            top: 40%;
            transition: all ease 2s;
        }
        .prezPhotosDivs{
            position: absolute;
            top: 15svw;
            right: -20svw;
            width: 20svw;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: all ease 2s;
            /* justify-content: center; */
            img{
                width: 100%;
            }
            p{
                font-size: 3svw;
            }
        }
    }

    #secondSlide{
        height: 100%;
        width: 100%;
        position: absolute;
        img{
            position: absolute;
            opacity: 0%;
            transition: all 1s ease;
            top: 0;
            left: 0;
            width: 100svw;
        }
    }

    #troisiemeSlide{
        height: 100%;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        transition: all ease .5s;
        top: 0%;

        #conseildEtat{
            position: absolute;
            height: 100%;
            bottom: -100%;
            transition: all ease .5s;
        }

        #etreSouverain{
            position: absolute;
            height: 100%;
            bottom: -100%;
            transition: all ease .5s;
        }

        #oldMap{
            position: absolute;
            width: 100%;
            bottom: -150svh;
            transition: all ease .5s;
        }

        p{
            position: absolute;
            opacity: 0%;
            font-size: 4svw;
            background-color: rgba(245, 222, 179, 0.674);
            padding: .2svw;
            border-radius: .2svw;
        }
        #mapRonron{
            top: 5svw;
        }
        #mapArnaud{
            bottom: 10svw;
            right: 2svw;
        }
        #mapAlfRhed{
            bottom: 3svw;
            left: 5svw;
        }
    }
}

